.row.justify-content-center.align-content-center{ style:"height:100vh;"}
  .card{style:"max-width:400px;background-color:#ffffff80"}
    .card-body
      %h2 Log in
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :email,                       
            required: false,                      
            autofocus: true,                    
            placeholder: 'user@domain.com',  
            input_html: { autocomplete: "email" } 
          = f.input :password,                               
            required: false,                                 
            placeholder: '********* ',
            input_html: { autocomplete: "current-password" } 
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .form-actions
          = f.button :submit, "Log in", class: "btn btn-primary"
          = render "devise/shared/links"
